*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #121212;
}

.form-structure{
    width: 92%;
    border: 4px solid white;
    border-radius: 20px;
    margin: auto;
    height: 90vh;
    margin-top: 40px;
}
div{
    /* margin-; */
    margin: auto;
    /* margin-top: 20px; */
    color: white;
    /* width: 100%; */
}
.form-structure .input-fields{
        width: 99.35%;
        height: 50px;
        background-color: transparent;
        color: white;
        margin-top: 15px;
        border-radius: 20px;
        text-align: center;
        border: 2.5px solid white;
        /* margin: auto; */
        /* -webkit-appearance: none; */
        /* -moz-appearance: none; */
        
}
option{
    background-color: #121212;
}
button{
    width: 20% ;
    height: 40px;
    background-color: transparent;
    color: white;
    margin-top: 100px;
    margin-bottom: 15px;
    align-self: center;
    border-radius: 20px;
    text-align: center;
    border: 2.5px solid white;
    /* margin: auto; */
    margin-left: 550px;
}
span{
    color: white;
}
a{
    margin-left: 650px;
    /* margin-top: 20px; */
    color: lightblue;
}
h2{
    margin-top: 20px;
    margin-left: 630px;
    margin-bottom: 40px;
    color: white;
}